################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/AIBasedRealtimeBargaining/.vs/AIBasedRealtimeBargaining
/source/AIBasedRealtimeBargaining/AIBasedRealtimeBargaining/bin
/source/AIBasedRealtimeBargaining/AIBasedRealtimeBargaining/obj
/source/AIBasedRealtimeBargaining/AIBasedRealtimeBargaining/AIBasedRealtimeBargaining.csproj.user
/source/AIBasedRealtimeBargaining/packages
